@import "tailwindcss";

@theme inline {
  --color-primary: #000000;
  --color-secondary: #14213d;
  --color-accent: #fca311;
  --color-soft: #e5e5e5;
  --color-pure: #ffffff;
}

@layer base {
  :root {
    --background: var(--color-primary);
    --foreground: var(--color-pure);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
}
